{extend name="/base"}
{block name="body"}
	<div>
		<table class="layui-table">
			<colgroup>
				<col width="50%">
				<col>
			</colgroup>
			<tbody>
				<tr>
				<td>操作系统</td>
				<td>{$os}</td>
				</tr>
				<tr>
				<td>剩余空间</td>
				<td>{$space}</td>
				</tr>
				<tr>
				<td>服务器地址</td>
				<td>{$addr}</td>
				</tr>
				<tr>
				<td>运行环境</td>
				<td>{$run}</td>
				</tr>
				<tr>
				<td>PHP版本</td>
				<td>{$php}</td>
				</tr>
				<tr>
				<td>PHP运行方式</td>
				<td>{$php_run}</td>
				</tr>
				<tr>
				<td>MYSQL版本</td>
				<td>{$mysql}</td>
				</tr>
				<tr>
				<td>THINKPHP版本</td>
				<td>{$think}</td>
				</tr>
				<tr>
				<td>上传附件限制</td>
				<td>{$upload}</td>
				</tr>
				<tr>
				<td>执行时间限制</td>
				<td>{$max}</td>
				</tr>
			</tbody>
			</table>
		<div class="layui-row layui-col-space10">
			<div class="layui-col-md12">
				<div class="layui-card">
					<div class="layui-card-header">版本信息</div>
					<div class="layui-card-body">
						<table class="layui-table">
							<thead>
								<tr>
									<th>项目名称</th>
									<th>Pear Admin Think</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>特别感谢 </td>
									<td>Pear Admin Layui</td>
								</tr>
								<tr>
									<td>仓库地址:</td>
									<td>
										https://gitee.com/muyiboss/Pear-Admin-Thinkphp
									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
	{/block}

