<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="__ADMIN__/css/pearCommon.css" />
    <link rel="stylesheet" href="__ADMIN__/layui/css/layui.css" />
</head>
<body>
    <form class="layui-form" action="">
        <div class="mainBox">
            <div class="main-container">
                <div class="main-container">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-word-aux layui-form-mid">{$admin->username}</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">昵称</label>
                        <div class="layui-word-aux layui-form-mid">{$admin->nickname}</div>
                    </div>
                    <div class="layui-form-item">
                        <label for="" class="layui-form-label">角色</label>
                        <div>
                            {foreach $roles as $role}
                            <input type="checkbox" name="roles[]" value="{$role['id']}" title="{$role['name']}" {if isset($role['own']) && $role['own'] } checked {/if} >
                            {/foreach}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="button-container">
                <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="save">
                    <i class="layui-icon layui-icon-ok"></i>
                    提交
                </button>
                <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </div>
    </form>
<script src="__ADMIN__/layui/layui.js"></script>
<script>
    layui.use(['jquery','form','layer','closeTools'],function () {
         var $=layui.jquery;
         var form=layui.form;
         var layer=layui.layer;
         var closeTools = layui.closeTools;
 
         form.on('submit(save)',function (data) {
             var load = layer.load();
             $.post('/admin/role/'+{$admin['id']},data.field,function (res) {
                 layer.close(load);
                 if (res.code==1){
                     layer.msg(res.msg,{icon:1,time:1500},function () {
                     })
                 } else {
                     layer.msg(res.msg,{icon:2,time:1500})
                 }
             });
             return false
         })
 
     })
 </script>
</body>
</html>