<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="__ADMIN__/layui/css/layui.css" rel="stylesheet" />
		<link href="__ADMIN__/css/pearCommon.css" rel="stylesheet" />
	</head>
	<body class="pear-container">
		<div class="layui-card">
			<div class="layui-card-body">
				<table id="dataTable" lay-filter="dataTable"></table>
			</div>
		</div>

		<script type="text/html" id="lay-toolbar">
			<button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add"> 
				<i class="layui-icon layui-icon-add-1"></i> 
				新增 
			</button>
			<button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
				 <i class="layui-icon layui-icon-delete"></i>
				  删除
			</button>
		</script>
		
		<script type="text/html" id="options">
			<a class="pear-btn pear-btn-danger pear-btn-sm" lay-event="del">删除</a>
		</script>

		
		<script src="__ADMIN__/layui/layui.js"></script>
		<script>
		   layui.use(['jquery', 'table', 'element', 'form', 'layer','iframeTools'], function () {
			var table = layui.table;
			var $ = layui.jquery;
			var element = layui.element;
			var form = layui.form;
			var layer = layui.layer;
			var iframeTools = layui.iframeTools;

			//表格初始化
			var dataTable = table.render({
				elem: '#dataTable'
				, url: "upload" //数据接口
				, where: {model: "admin"}
				, page: true //开启分页
				, skin: 'line'
				, toolbar: '#lay-toolbar'
				, cols: [[ //表头
					{checkbox: true}
					, {field: 'id', title: 'ID', sort: true, width: 80}
					, {field: 'type', title: '存储位置'}
					, {field: 'name', title: '文件名称', align: 'center'}
					, {field: 'href',title: '图片', unresize: true, align: 'center',
						templet:function (d) {
							return '<img src=" '+d.href+'"></i>';
						}
					   }
					, {field: 'mime', title: 'mime类型', align: 'center'}
					, {field: 'size', title: '文件大小', align: 'center'}
					, {field: 'ext', title: '文件后缀', align: 'center'}
					, {field: 'create_time', title: '创建时间'}
					, {fixed: 'right', title: '操作', width: 80, align: 'center', toolbar: '#options'}
				]]
				, defaultToolbar: [{
						layEvent: 'refresh',
						icon: 'layui-icon-refresh',
					}, 'filter', 'print', 'exports']
			});
			//监听工具条
			table.on('tool(dataTable)', function (obj) { //注：tool是工具条事件名，dataTable是table原始容器的属性 lay-filter="对应的值"
				var data = obj.data //获得当前行数据
					, layEvent = obj.event; //获得 lay-event 对应的值
				if (layEvent === 'del') {
					layer.confirm('确认删除吗？', function (index) {
						layer.close(index);
						var load = layer.load();
						$.post("uploadDel", {ids: [data.id]}, function (res) {
							layer.close(load);
							if (res.code == 1) {
								layer.msg(res.msg, {icon: 1, time: 1500}, function () {
									obj.del();
								})
							} else {
								layer.msg(res.msg, {icon: 2, time: 1500})
							}
						});
					});
				}
			});
			table.on('toolbar(dataTable)', function(obj){
						if(obj.event === 'add'){
							iframeTools.layer_iframe('新增', 'uploadAdd');
						} else if(obj.event === 'refresh'){
							refresh();
						} else if(obj.event === 'batchRemove'){
							batchRemove(obj);
						}
			});
			//按钮批量删除
			batchRemove = function(obj){
				var ids = []
				var hasCheck = table.checkStatus('dataTable')
				var hasCheckData = hasCheck.data
				if (hasCheckData.length > 0) {
					$.each(hasCheckData, function (index, element) {
						ids.push(element.id)
					})
				}
				if (ids.length > 0) {
					layer.confirm('确认删除吗？', function (index) {
						layer.close(index);
						var load = layer.load();
						$.post("uploadDel", {ids: ids}, function (res) {
							layer.close(load);
							if (res.code == 1) {
								layer.msg(res.msg, {icon: 1, time: 1500}, function () {
									dataTable.reload({
										page: {curr: 1}
									})
								})
							} else {
								layer.msg(res.msg, {icon: 2, time: 1500})
							}
						});
					})
				} else {
					layer.msg('请选择删除项', {icon: 2})
				}
			};
			refresh = function(param){
				table.reload('dataTable');
			}
		})
		</script>
	</body>
</html>
